.desta{width:100%!important;}
.desta  li{ color:#FFF;font-size: 11px;}
.tamano_red_social {	width:32px;}
img#fb20 {
/*background-position: -195px -24px;*/
background-position: 0px -44px;
}
img#tw20 {
background-position: -32px -44px;
}
img#yt20 {
background-position: -97px -44px;
}
img#rss20 {
background-position: -129px -44px;
}
.sprite {
background-image: url(../images/sprites.png);
background-repeat: no-repeat;
}