<div class="page page-ui pull-to-header">
	<ol class="breadcrumb bg-white">
		<li><a ui-sref="dashboard">Dashboard</a></li>
		<li class="active">Apariencia</li>
	</ol>
	<!-- row -->
	<div class="row">
		<!-- col -->
		<div class="col-md-12">
			<!-- tile -->
			<div class="tile">
				<!-- tile header -->
				<section class="tile-header">
					<h1 class="heading">Apariencia</h1>
				</section>
				<!-- /tile header -->
				<!-- tile body -->
				<!-- PANEL PRINCIPAL -->
				<section class="tile-body col-sm-12 pr-md pl-md">
					<div class="col-md-6">
						<label class="minotaur-label block" >Color</label>
						<ul class="color-list" style="list-style-type: none;">
							<li ng-repeat="itemColor in vm.listaColores" class="color pull-left"
								title="{{itemColor.nombre}}"
								ng-model="vm.temporal.idcolor" uib-btn-radio="'{{itemColor.idcolor}}'"
								ng-click="vm.cambiaColor(itemColor);">
								<div style="width: 60px;height: 60px;">
									<div style="background-color: {{itemColor.hexa}}; width: 100%;height: 100%;margin: 12px;border-radius: 50%;"></div>
								</div>
							</li>
						</ul>

					</div>
				</section>

				<!-- /tile body -->
			</div>
			<!-- /tile -->
		</div>
		<!-- /col -->
	</div>
	<!-- /row -->
</div>